<p id="intro">
 This application helps find un-organic activity on the web. <br>
 The application provides a set of tools that helps screening, filtering and viewing real data from tweeter <br>
 This application does not claim to make the final classification between bots, puppets, fake or real users <br>
 rather, it helps viewing tweeter data according to the described logic which can assist the end user to further investigate certain <br>
 users or interactions and classify them according to his or hers logic. <br>
 It is easy to follow the links here to the actual tweeter accounts/comments and highly advised, to make your own mind according to your findings.
<br>
<br>
Our goal is to to add more usefull tools in the future and support vor various languages


</p>
