<p id="intro">
 This application provides a set of tools that helps screening, filtering and viewing real data from Twitter. <br>
 It was developed by <a href="https://www.linkedin.com/in/eyal-orbach">Eyal Orbach</a> at the Bar Ilan University,
 <a href="http://u.cs.biu.ac.il/~nlp/">NLP Lab</a> as part of the <a href="https://botim.online/">Big Bots Project,</a>
 <br> a project set to expose un-organic activity on the web, attempting to influence the Israeli 2019 elections. 
 <br>The Big Bots Project has gained significant global and local <a href='https://www.nytimes.com/2019/03/31/world/middleeast/netanyahu-fake-twitter.html'>news coverage.</a>
<br><br><br>
 The application does not claim to make the final classification between bots, puppets, fake or real users, <br>
 rather, it helps viewing Twitter data according to the described logic which can assist the end user to further investigate certain <br>
 users or interactions and classify them according to his or her logic. <br>
 It is easy to follow the links here to the actual Twitter accounts/comments and highly advised, to make your own mind according to your findings.
<br><br><br><br>
The project currently supports Hebrew data only, but it is my intention to have it support other languages and add more tools <br>
in the future.<br>
All the code for this project can be found on <a href="https://github.com/eyal-orbach/bots">github.</a><br>
The data collected here is a large majority of all twitter hebrew data from January to April 2019.
</p>
