.module-info{
    text-align: center;
    text-emphasis-style: bold;
    color: #1ca1f2;    
}

.technical{
    text-align: left;
    text-emphasis-style: none;
    color: grey;
    font-size: 10pt;    
}