
.tweetcontainer{
    top:2px;
    padding: 3px;
    text-align: right;
    left: 20%;
    position: relative;
}

.texttweetcontainer{
    text-align: right;
    position: relative;
    padding: 3px;
}
.removed_label{
    top: 40px;
    position: relative;
    left: 10px;
    z-index: -100;
}

.userseperator{
    margin-top:20px;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.usertweets{
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

.tweetseperator{
    border: 0;
    height: 1px;
    margin-top: 40px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.results_container{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 75%;
    padding-left: 20%;
    padding-right: 20%;
}

a.username{
    padding: 3px;
    margin-left: 20px;
    margin-top: 2px; 
}

.await-results{
    color: #89959c;
    margin-left: -150px;
    text-align: center;
    width: 300px;
    position: relative;
    left: 50%;
    top: 20%;
}


a.user-error{
    color: red;
    margin-left: -150px;
    text-align: center;
    width: 300px;
    position: relative;
    left: 50%;
    top: 20%;
    display: inline-block;
}



a.error span{
    display: none;
}

a.error::after{
    margin-left: -200px;
    text-align: center;
    width: 300px;
    position: relative;
    left: 50%;
    top: 20%;
    color: crimson;
    content: "Something went wrong. Please try again.";
}
a.empty span {
    display: none;
}

a.empty::after{
    margin-left: -200px;
    text-align: center;
    width: 300px;
    position: relative;
    left: 50%;
    top: 20%;
    color: crimson;
    content: "No information for this id";
}

a.load-results{
    margin-left: -150px;
    text-align: center;
    width: 300px;
    position: relative;
    left: 50%;
    top: 20%;
    animation: blink 1s linear infinite;
}
@keyframes blink{
0%{opacity: 0;  color:#638ba1; }
50%{opacity: .5; color:#638ba1;}
80%{opacity: 1; color: #638ba1;}
100%{opacity: 0.5; color: #638ba1;}

}

a.results-loaded{
    visibility: hidden;
}

.usercontainer{
    box-align: center;
}
.useralignmentbox{
    width: 100%;
    text-align: center;
}
.userbox{
    background-color: #1ca1f21a;
    display: inline-block;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border: 3px ridge #1ca1f21a;
    box-shadow: inset 0 -1px 0 0 #e5e5e5, inset 0 1px 0 0 #e5e5e5, 0 1px 0 0 #e5e5e5, 0 -1px 0 0 #e5e5e5;
    margin-bottom: 1px;
    margin-bottom: 30px;
    margin-top: 10px;
    border-radius: 7px;
}

.emphasised_tweet{
    border: 2px dashed #ff5e5e66;
    display: table;
}

.emphasised_tweet_text{
    border: 2px dashed #ff5e5e66;
    text-align: right;
}