#density-settings-origin-text{
    width: 80%;
}

#settingsContainer{
    padding-left: 10px;
}

a.toollabel{
    color: #5893b7;
    padding-top: 13px;
    vertical-align: bottom;
    padding-left: 5px;
    padding-right: 5px;
}

#show-results-button{
    background-color: #1ca1f2;
    left: 60%;
    height: 40px;
    width: 116px;
    top: 20px;
}

#k_userInput{
    margin-left: 20px;
    width: 40px;
}

#textbox-container{
    margin-left: 20px;
}

label.settings-container1{
    margin-left: 20px;
}

#dist-method-selector{
    width: 200px;
}