<div style="height:125%;">
  <p class="module-info">
    Here you can search for tweets that are close to the given input sentence.<br>
    <span class="technical">Technical: Tweets were converted to a 100 dim vector using tf/idf and w2v, distance method can be chosen.</span>
  </p>
  <hr>
  <app-tweet-similarity-settings (resultsTrigger)=handleSettings($event) style="height:25%"></app-tweet-similarity-settings>
  <br><br>
  <hr>
  <app-results-container [tweetsJson]="resultsJson" [resultsPlaceHolderStyle]="resultsState"></app-results-container>
</div>