mat-sidenav-container {
  width: 100% !important;
  height: calc(100vh - 64px) !important;
}
  
div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4000px;
}

mat-toolbar {
  height: 64px;
  position: relative;
  z-index: 100;
}

#biulogo {
 height: 45px;
width: 45px;
top: 10px;
right: 20px;
position: absolute;
}