<mat-toolbar color="warn">
  <mat-toolbar-row> 
    <button type="button" disabled=true aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="primary">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    The Twitter Analyzer
    <img src="assets/img/biu_logo.png" id="biulogo">
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #drawer mode="side" opened role="navigation"  mode="side"
            opened="true"
            [fixedInViewport]="true"
            [fixedTopGap]="64">
    <mat-nav-list>
      <a mat-list-item routerLink='/home'>Home</a>
      <a mat-list-item routerLink='/tweet'>Tweet Similarity</a>
      <a mat-list-item routerLink='/density'>Subject Density</a>
      <!-- <a mat-list-item routerLink='/behaviour'>Behaviour Similarity</a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>