<div style="height:125%; " >
  <p class="module-info">
    Here you can search for users which mostly tweet about a single topic, meaning their topical variance is low. 
    <br>
    <span class="technical">Technical: Once tweets are calculated as vectors, each user has a eucldiean centroid. 
    Density is the user's variance wrt the centroid,<br> and due to the multiple objectives it should be weighted vs the centroid's distance from the given sentence.</span>
  </p>
  <hr>
  <app-density-settings (resultsTrigger) = handleSettings($event) style="height:25%" ></app-density-settings >
  <br><br>
  <hr>
    <app-results-container [tweetsJson]="resultsJson" [resultsPlaceHolderStyle]="resultsState"></app-results-container>
</div>
