<div style="height:100%; overflow: hidden;" >
<p id=info>
  This is the subjects density module.<br>
  Here you can search for users which mostly tweet about a single topic, meaning their topical variance is low 
</p>
<hr>
<app-density-settings (resultsTrigger) = handleSettings($event) style="height:50%" ></app-density-settings >
<br><br>
<hr>
<div id="preloaded_tweet" style="display:hidden">
  <ngx-tweet tweetId="1110423138570067968" style="display:none"></ngx-tweet>
</div>
<div class="results_container">
<ng-container *ngFor="let user of tweetsJson">
  <div class="usercontainer">
    <a href="http://twitter.com/{{user.name}}"> {{user.name}} </a>
    </div>
    <div *ngFor="let tweet of user.tweets">
      <div class="tweetcontainer">
          <ngx-tweet tweetId={{tweet.tweetid}}></ngx-tweet>
        </div>
    </div>
  </ng-container>
</div>
</div>
